<ul class="list-unstyled">
  <li *ngFor="let user of usersCollection.vkCollection.items" class="media mb-3">
    <a class="align-self-center mr-3" [href]="baseUrl + user.id" target="_blank">
      <img class="align-self-center rounded-circle ava" [alt]="user.id" [src]="getImageData(user.photo100)" />
    </a>
    <div class="media-body">
      <h5 class="mt-0 mb-1">
        <a [href]="baseUrl + user.id" target="_blank">{{user.firstName}} {{user.lastName}}</a>
      </h5>
      <div *ngIf="isValidDate(user.birthDate)" class="mb-1">Возраст: {{user.age}}</div>
      <div *ngIf="!isValidDate(user.birthDate) && user.age" class="text-info mb-1">Возраст: {{user.age}}</div>
      <div class="mb-1">
        <button [disabled]="isValidDate(user.birthDate) || user.age || disabled" class="btn btn-info user-btn" tooltip="Определить возраст"
          (click)="detectAge(user.id, user.firstName, user.lastName)">
          <span class="fa fa-user"></span>
        </button>
        <button [disabled]="disabled" *ngIf="user.canWritePrivateMessage" class="btn btn-primary user-btn ml-1" tooltip="Написать поздравление"
          (click)="writeCongratulation(user)">
          <i class="fa fa-pencil"></i>
        </button>
        <button [disabled]="!sendRandomCongratulationEnabled || disabled" *ngIf="user.canWritePrivateMessage" class="btn btn-secondary user-btn ml-1" tooltip="Поздравить"
          (click)="sendRandomCongratulation(user)">
          <i class="fa fa-random"></i>
        </button>
        <button [disabled]="disabled" class="btn btn-danger user-btn ml-1" tooltip="Игнорировать"
          (click)="addToIgnoreList(user)">
          <i class="fa fa-ban"></i>
        </button>
      </div>
    </div>
  </li>
</ul>
<pagination *ngIf="totalItems > itemsPerPage"
  [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="5"
  (pageChanged)="pageChange($event)"></pagination>
