table td:last-child {
    white-space: nowrap;
}

textarea:read-only {
    resize: none;
}

textarea {
    resize: vertical;
}

.vertical-middle {
    vertical-align: middle;
}

button.icon-text-btn {
    min-width: 120px;
}

button.btn-icon {
    min-width: 33px;
}

.margin-left-1 {
  margin-left: .25rem;
}

@media only screen and (max-width: 600px) {
  #btn-copy {
    display: none;
  }

  #btn-edit-save {
    margin-left: 0;
  }
}
