button, input[type=button] {
    min-width: 120px;
}

.close {
    min-width: inherit;
}

textarea {
    resize: none;
}

.select-group {
    display: flex;
    justify-content: space-between;
}

ng-select {
    width: 95%;
}

.btn-select {
    height: 36px;
    min-width: 0;
    margin-left: 1px;
}