<div>
    <div *ngIf="usersList">
        <h3>Количество: {{usersCount}}</h3>
        <div style="margin: 20px;">
            <ul class="media-list">
                <li *ngFor="let user of usersList" class="media">
                    <a class="pull-left" [href]="baseUrl + user.id" target="_blank">
                        <img class="media-object img-circle" [alt]="user.id" [src]="user.photo100" />
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading media-bottom">{{user.firstName}} {{user.lastName}}</h4>
                        <div *ngIf="isValidDate(user.birthDate)" style="margin-bottom: 5px">Возраст: {{user.age}}</div>
                        <div *ngIf="!isValidDate(user.birthDate)" style="margin-bottom: 5px">
                            <button *ngIf="!user.age" class="btn-sm btn-default" (click)="detectAge(user.id, user.firstName, user.lastName)">Определить возраст</button>
                            <span *ngIf="user.age" class="text-info">Возраст: {{user.age}}</span>
                        </div>
                        <button class="btn btn-primary" (click)="sendMessageOpen(user)">Написать сообщение</button>
                    </div>
                </li>
            </ul>
        </div>
        <button class="btn btn-primary" (click)="seachUsers()">Обновить</button>
        <button class="btn btn-default" (click)="navigate()">Перейти</button>
    </div>
</div>