button, input[type=button] {
    min-width: 80px;
}

.close {
    min-width: inherit;
}

textarea {
    resize: none;
}

.select-group {
    width: 100%;
}

ng-select {
    width: 90%;
    display: inline-block;
}

.btn-select {
    height: 36px;
}