table td:last-child {
    white-space: nowrap;
}

textarea {
    resize: vertical;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

button, input[type=button] {
    min-width: 80px;
}