table td:last-child {
    white-space: nowrap;
}

textarea:read-only {
    resize: none;
}

textarea {
    resize: vertical;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

button.icon-text-btn {
    min-width: 120px;
}