/* You can add global styles to this file, and also import other style files */
.ava {
  width: 100px;
}

.user-btn {
  padding: .4rem .8rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .25rem;
}
